html, body, #root{
  height:100%;
  margin:0;
  font-family:Inter, system-ui, sans-serif;
}


input, select{
  padding:8px 10px;
  border:1px solid #d1d5db;
  border-radius:6px;
  font-size:14px;
}

/* Layout */

.layout{
  display:flex;
  min-height:100vh;
}

/* Sidebar */

.sidebar{
  width:240px;
  background:#0f172a;
  color:white;
  padding:20px;
  box-sizing:border-box;
}

/* Navigation */

.sidebar nav{
  display:flex;
  flex-direction:column;
  gap:12px;
  margin-top:30px;
}

.sidebar a{
  text-decoration:none;
  color:#e5e7eb;
  padding:10px;
  border-radius:6px;

  display:flex;
  align-items:center;
  gap:10px;

  font-size:15px;
  
}

.sidebar a:hover{
  background:#1f2937;
}

.sidebar a.active{
  background:#374151;
}

/* Main area */

.main{
  flex:1;
  display:flex;
  flex-direction:column;
}

.content{
  flex:1;
  padding:30px;
  background:#f3f4f6;
}

/* Topbar */

.topbar{
  height:60px;
  background:white;
  border-bottom:1px solid #e5e7eb;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 20px;
}

/* Menu button */

.menu-btn{
  display:none;
  font-size:22px;
  background:none;
  border:none;
  cursor:pointer;
}

/* Overlay */

.overlay{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,0.4);
  z-index:9;
}

/* ---------------- */
/* MOBILE + TABLET */
/* ---------------- */

@media (max-width:768px){

  .menu-btn{
  display:block;
}

  .layout{
    display:block;
  }

  .sidebar{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:240px;

    transform:translateX(-100%);
    transition:transform 0.3s ease;

    z-index:10;
  }

  .sidebar.open{
    transform:translateX(0);
  }

}